<h1>MSTS Converter</h1>

<h2>Introduction</h2>

<p>
  This page contains a Microsoft Train Simulator (MSTS) activity converter.
  It converts the activity files into the ZIP format which can be uncompressed
  by commom compresstion tools.
</p>

<p>
  You can use the converter if you use the <a href="http://openrails.org/">OpenRails</a>
  simulator or when the original MSTS unpacking does not work for you.
</p>

<h2>How To</h2>

<p>
  <ol>
    <li>Select an activity file for upload below</li>
    <li>Press the <em>Submit</em> button</li>
    <li>Save the converted ZIP file</li>
    <li>Unpack the downloaded ZIP to the main MSTS directory, or into the selected
      OpenRails profile.</li>
  </ol>
</p>

<h2>The Converter</h2>

<%= erb :_apk_form %>

<h2>Warning!</h2>

<p>
<em>Attention! The project is in early alpha state and might not work properly.
You should rather keep the original activity file, do not delete it!
</em>
</p>

<p>
  <em>The converter is provided without any warranty!</em>
</p>
