<h1>MSTS APK Konvertor</h1>

<h2>Úvod</h2>

<p>
  Tato stránka obsahuje konvertor aktivit pro Microsoft Train Simulator (MSTS).
  Konvertuje APK soubory do formátu ZIP, který lze rozbalit jakýmkoliv běžným
  kompresním programem.
</p>

<p>
  Konvertor lze použít v případě, že používáte <a href="http://openrails.org/">OpenRails</a>
  a nebo pokud vám původní rozbalovací program v MSTS nefunguje správně.
</p>

<h2>Postup</h2>

<p>
  <ol>
    <li>Níže vyberte APK soubor k uploadu</li>
    <li>Stiskněte tlačítko <em>Odeslat</em></li>
    <li>Uložte převedený ZIP soubor</li>
    <li>Stažený soubor rozbalte do hlavní složky MSTS, v případě OpenRails do
      nastaveného instalačního profilu.</li>
  </ol>
</p>

<h2>Konvertor</h2>

<%= erb :_apk_form %>

<h2>Upozornění!</h2>

<p>
<em>Pozor! Projekt je v alfa stádiu a nemusí fungovat správně!
Původní APK soubor si raději schovejte, nemažte jej!
</em>
</p>

<p>
  <em>Konvertor je bez jakékoliv záruky na správnou funkci!</em>
</p>
