<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>
      <%= erb :_title %>
    </title>
    <style>
      body { background: #ffffb3; }
    </style>
  </head>
  <body>
    <div id="main">
      <%= yield %>
    </div>
  </body>
  <p></p>
  <footer style="color: grey">
    <small>(v0.1.1, 2021-04-05)</small>
  </footer>
</html>
